* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

body {
    background-image: url('../images/background.jpg');
    background-size: cover;
    background-position: center center;
    height: 100vh;
}

.container {
    background-color: rgba(0, 0, 0, 0.5);
    box-shadow: 0px 5px 100px 20px black inset;
    height: 100vh;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px 10px 10px;
}

header > img.logo {
    height: 80px;
}

div.head-field > select{
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
    border: white 1px solid;
    border-radius: 2px;
}

div.head-field > button {
    background-color: red;
    padding: 10px;
    border: none;
    border-radius: 2px;
    cursor: pointer;
}

main {
    display: flex;
    height: 450px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

main > h1 {
    font-size: 40px;
    text-align: center;
}

main > p {
    font-size: 1.2em;
    text-align: center;
}

main > h2 {
    font-weight: normal;
}

main > div.email-field > input {
    display: flex;
    align-items: center;
    color: black;
    width: 400px;
    height: 30px;
    padding: 10px;
    border: none;
}

main > div.email-field > input:focus {
    outline: none;
    border: none;
}

main > div.email-field > button {
    display: block;
    font-size: 1.1em;
    color: white;
    background-color: #F40612;
    margin: 20px auto;
    padding: 13px;
    border: none;
    cursor: pointer;
}



